body {
  background-color: #F2F4F7;
}

.index-header,
.index-main,
.index-footer {
  width: 100%;
  background-color: #ffffff;
  height: 45px;
  font-size: 1rem;
}

.index-body {
  width: 50%;
  margin: 0 auto;
}
.index-body .index-header .btn-box {
  background: none;
  height: 45px;
  width: 6.5%;
  float: right;
  text-align: center;
  line-height: 45px;
  font-size: 1rem;
}
.index-body .index-header .btn-box .bars-btn {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.index-body .index-header .btn-box .bars-btn:active {
  transition: background-color, 0.2s;
  background-color: #F2F4F7;
}
.index-body .index-header img {
  width: auto;
  height: 45px;
  float: left;
}
.index-body .index-main {
  width: 95%;
  margin: 50px auto;
  height: auto;
  background: none;
}
.index-body .index-main .post-works {
  width: 100%;
  margin: 8px auto;
  overflow: hidden;
}
.index-body .index-main .post-works .post {
  width: 48.4%;
  margin: 6px;
  height: 250px;
  background-color: #ffffff;
  float: left;
}

/*.index-header h1{*/
/*width: 10%;*/
/*height: 45px;*/
/*line-height: 45px;*/
/*text-align: center;*/
/*float: left;*/
/*background: red;*/
/*font-size: 1.5rem;*/
/*font-weight: lighter;*/
/*}*/
